html {
  font-size: 72.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  padding: 0 1rem;
  font-size: 1.5rem;
  grid-area: header;
  background-color: rgb(2, 2, 31);
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: rgb(2, 2, 31);
  color: white;
}
/* Common */
h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: orangered;
}
ul {
  padding: 0.5rem;
  margin: 1rem;
  list-style-type: none;
}
li {
  margin: 0.5rem;
}
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid lightgray;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
  cursor: pointer;
}
button:hover{
  border: 0.1rem solid darkgray;
}
button.primary{
  background-color: goldenrod;
}
button.block{
  width: 100%;
}
/* Header */
header a {
  color: white;
  padding: 1rem;
}
a.brand {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
a.brand:hover {
  text-decoration: none;
  color: white;
}
.logo:hover {
  color: orangered;
  text-decoration: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top{
  align-items: flex-start;
}
.col{
  flex: 1 1 25rem;
}
.col-6{
  flex: 2 1 50rem;
}

/* Images */
img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}

/* Card */
.card {
  border: 0.1rem gray solid;
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > *{
   margin-bottom: 0.5rem; 
}
.price {
  font-weight: bold;  
}
.nike {
    font-size: 1.6rem;
    padding: 1rem 0;
}
/* Card */
.rating span {
    color: goldenrod;
    margin: 0.1rem;
}
.rating span:last-child{
  color: gray;
}
/* Alert */
.success {
  color:green;
}
.danger {
  color: red;
}
.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info{
  color:darkblue;
  background-color: white;
}
.alert-danger{
  color: red;
  background-color: rgba(255, 255, 255, 0.788);
}